.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  color: #212121;
  background-image: url(../images/Xicon.svg);
  background-color: transparent;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 12px 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  border: 1px solid #21212166;
  border-radius: 8px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-button {
  max-width: 156px;
  padding: 18px 58px;
  width: 100%;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  transition: opacity 0.3s ease;
}

.modal__submit-button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 627px) {
  .modal__submit-button {
    max-width: none;
    width: 100%;
    padding: 18px 16px;
    box-sizing: border-box;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__container {
    padding: 32px 20px;
  }

  .modal__input {
    box-sizing: border-box;
  }
}
